# Scripts temporales de carga
populate_*.py

# Entorno virtual
venv/
.venv/

# Variables de entorno
.env

# scripts de migración de bases de datos
.populate_database.py

# Base de datos local (SQLite)
*.db
*.sqlite3

# Archivos de Python compilados
__pycache__/
*.py[cod]

# Logs
*.log

# IDEs y editores
.vscode/
.idea/