# Script de carga de datos
populate_raw_sql.py

# Entorno virtual
venv/
.venv/

# Variables de entorno
.env

# Base de datos local (SQLite)
*.db
*.sqlite3

# Archivos de Python compilados
__pycache__/
*.py[cod]

# Logs
*.log

# IDEs y editores
.vscode/
.idea/