/* src/styles/custom.scss */

// --- 1. IMPORTA FUNCIONES PRIMERO ---
@import "bootstrap/scss/functions";


// --- 2. DEFINE TUS VARIABLES PERSONALIZADAS ---
$azul-unpsjb: #004a99;
$amarillo-unpsjb: #FFC72C;
$gris-claro: #e1dede; // Este es el $gray-100 de Bootstrap


// --- 3. MAPEA TUS VARIABLES PRINCIPALES ---
$primary:       $azul-unpsjb;
$light:         $gris-claro;

// --- ¡AQUÍ ESTÁ EL CAMBIO! ---
// Define el color de fondo de toda la página

//$body-bg: $gris-claro; 

// --- FIN DEL CAMBIO ---


// --- 4. IMPORTA LAS VARIABLES DE BOOTSTRAP ---
@import "bootstrap/scss/variables";


// --- 5. MAPEA EL RESTO DE TUS VARIABLES ---
$secondary:     $gray-600; // El gris para el botón "Anterior"


// --- 6. IMPORTA TODO BOOTSTRAP (AL FINAL) ---
@import "bootstrap/scss/bootstrap";