
@import "bootstrap/scss/functions";


$azul-unpsjb: #004a99;
$amarillo-unpsjb: #FFC72C;
$gris-claro: #e1dede; 



$primary:       $azul-unpsjb;
$light:         $gris-claro;

@import "bootstrap/scss/variables";



$secondary:     $gray-600; 



@import "bootstrap/scss/bootstrap";

.navbar-dark {
    .navbar-nav .nav-link {
        // Estilo para los links normaless
        color: rgba(255, 255, 255, 0.75); // Un blanco semitransparente

        &.active {
        // Estilo SÓLO para el link .active
        color: #FFFFFF; // Blanco puro
        font-weight: 700; // Negrita
        }
    }
}