
.layout {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

.content {
  flex-grow: 1;
  padding-bottom: 5rem;
}


.home-icon {
  font-size: 6rem; 
  margin-bottom: 1.5rem; 
  transition: transform 0.2s ease-in-out;
}

.home-icon:hover {
  transform: scale(1.1);
}